<div class="container, mt-5">
  <h1>NEW LIST</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <div class="btn btn-flat">
      <%= f.submit %>
    </div>
  <% end %>
</div>
<div class="btn btn-flat">
  <%= link_to "Go Home", root_path %>
</div>
